--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
psycopg2
httpx==0.28.1
python-dotenv
python-multipart
openpyxl
rdflib
faiss-cpu
sentence-transformers
langchain
langchain-ollama
langgraph
